body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222222;
}
div{
    box-sizing: border-box;
}
header {
    background: url(../img/first-bg.jpg) no-repeat center top/ cover;
    padding-bottom: 160px;
}
.container{
    width: 930px;
    margin: 0 auto;
    
}
.logo{
   margin-top: 41px ;
    float: left;
}
nav {
    float: right;
    margin-top: 50px;
}
.menu {
    padding: 0;
    margin: 0;
    display: block;
}
.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}
.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
.title__first{
    margin-top: 180px;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 15;
}
.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
}
.title {
    padding-top: 115px;
}
.title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    
}

.services {
    margin-top: 80px;
}
.services__item {
    width: 270px;
    float:left;
    text-align: center;
}
.services__item h3 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.55em;
}
.services__item p {
    color: #777;
    font-size: 14px;
}
.services__item:last-child {
    float: right;
}
.services__item:nth-child(2) {
    margin-left: 60px;
}
#portfolio {
    background: #f7f7f7;
    padding-bottom: 120px;
}
#services {
    padding-bottom: 120px;
}
.works {
    margin-top: 70px;
}
.works img {
    float: left;
}
.works img:nth-child(2){
    margin-left: 29px;
}
.works img:last-child {
    float:right;
}

#about {
    
}

.about{
    margin-top: 77px;
    margin-bottom: 117px;
}
.about__item {
}
.about__item  img {
    float: right;
    margin-left:  38px;
    margin-right: 48px;
    padding-right: 330px;
}

.about__item h3 {
    text-align: right;
color: #222222;
font-family: "Arial - Bold MT";
font-size: 18px;
font-weight: 400;
letter-spacing: -0.45px;
text-transform: uppercase;
}

.about__item p {
    text-align: right;
    margin-left:85px;
    margin-right: 38px;
    width: 283px;
    margin-bottom: 170px;
height: 100px;
color: #777777;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
letter-spacing: -0.35px;
}

.about__item2 img {
    float: left;
    margin-left:  38px;
    margin-right: 48px;
    padding-left: 330px;
}

.about__item2 h3 {
text-align: left;
color: #222222;
font-family: "Arial - Bold MT";
font-size: 18px;
font-weight: 400;
letter-spacing: -0.45px;
text-transform: uppercase;
    
}
.about__item2 p {
    text-align: left;
    margin-left:598px;
    margin-right: 38px;
    width: 283px;
    margin-bottom: 170px;
height: 100px;
color: #777777;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
letter-spacing: -0.35px;
}



.about__item4 img {
     float: left;
    margin-left:  38px;
    margin-right: 48px;
    padding-left: 330px;
}

.about__item4 h3 {
    text-align: left;
color: #222222;
font-family: "Arial - Bold MT";
font-size: 18px;
font-weight: 400;
letter-spacing: -0.45px;
text-transform: uppercase;
    
}
    .about__item4 p {
         text-align: left;
    margin-left:598px;
    margin-right: 38px;
    width: 283px;
    margin-bottom: 170px;
height: 100px;
color: #777777;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
letter-spacing: -0.35px;
}
.footer {
margin-bottom: 112px;
margin-left: 366px;
}
.footer a{
    text-decoration: none;
     text-align: center;
 width: 229px;
height: 14px;
color: #555555;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.35px;
}


